.conference{
    font-weight:bold;
}

h5{
    margin-bottom: 0px;
}

h4{
    margin-bottom: 1px;
}

table.service {
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 0rem;
  border-bottom: 1px solid #E1E1E1; 
  border-top: 1px solid #E1E1E1; 
}
table.service td {
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 0px;
  border-bottom: 0;
  border-collapse: collapse;
  vertical-align: top;
}
table.service th {
  padding-bottom: 1px;
  padding-top: 2.5px;
  padding-left: 0px;
  border-bottom: 0;
  border-collapse: collapse;
}

.fa {
    color: black;
}

.contactlist{
    padding-right:5px;
    display:inline;
}

.container {
  max-width: 960px; }

.header {
  /*display: flex;
  flex-flow: row wrap;*/
  margin-top: 10px;  
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  padding: 5px 0px;    

}

.header a {
  float:left;
  padding: 10px;
  font-size: 1.8rem; 
}

.header a.active {
  color: darkgray;
}

.header-right {
  float: right;
}

.footer {
    padding-top: 1rem;
    border-top: 1px solid #eee;
    font-size: 1rem;  
    
}

.title { text-align: left; }

.sidebar h2 {
    font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem;
    margin-bottom: 1rem;
}

ul.contact {
  list-style: none;
}

ul.contactimg {
  list-style: none;
  font-size: 1.4rem;

}

ul.contact img {
    margin-top: .5em;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    height: 4rem;
}

table.publications {
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 0rem;
  border-top: 1px solid #E1E1E1;     
  border-bottom: 1px solid #E1E1E1; 
}
table.publications td {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0px;
  border-bottom: 0; }

table.publications 
th:first-child,
td:first-child {
  min-width: 20rem; }

table.news {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 0rem;
  border-bottom: 1px solid #E1E1E1; 
  border-top: 1px solid #E1E1E1; 
}
table.news td {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0px;
  border-bottom: 0;
  vertical-align: top;
  text-align: left}

table.news 
th:first-child,
td:first-child {
  min-width: 8rem; }

table.projects {
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 0rem;
  border-bottom: 1px solid #E1E1E1; 
  border-top: 1px solid #E1E1E1; 
}
table.projects td {
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 0px;
  border-bottom: 1px solid #E1E1E1; 
  border-top: 1px solid #E1E1E1;} 

table.projects 
th:first-child,
td:first-child {
  min-width: 15rem; }

table.projectdata {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 0rem;
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
}
table.projectdata td {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0px;
  border-top: 1px solid #E1E1E1;
  border-bottom: 0; }

table.projectdata
th:first-child,
td:first-child {
  min-width: 8rem; }



table.schedule {
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 0rem;
  border-top: 1px solid #E1E1E1;     
  border-bottom: 1px solid #E1E1E1; 
}
table.schedule td {
  text-align: left;   
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 0px;
  border-bottom: 1; }


h3.bibliography {
 font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem;
 margin-bottom: 1rem;
}


li {
    margin-bottom: 0rem;
}

ul {
    margin-top: 0rem; 
    list-style-position: inside;
}

ol.bibliography {
  list-style-type: decimal;
  list-style-position: outside;
  text-indent: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-right; 0rem;
}

ol.bibliography li {
  margin-bottom: 1rem;
  margin-right: 0rem;
  padding-right: 0rem;
  display: list-item;
  text-indent: 0em;
  padding-left: 0.5em;
}  

ol.inlinebibliography {
  list-style-type: decimal;
  list-style-position: outside;
  text-indent: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-right; 0rem;
}
ol.inlinebibliography li {
  margin-bottom: 0rem;
  margin-right: 0rem;
  padding-right: 0rem;
  display: list-item;
  text-indent: 0em;
  padding-left: 0.5em;
} 



a {
    text-decoration: none;
    /*color:#6656F2;*/
    /*color:#6633FF;*/
    /*color: #da0032; red*/
    color: #49e; 
}

a:hover {
  /*color:deepskyblue;*/
  color:#f8971d;
}

a.nolink {
    text-decoration: none;
    color: #404040;;
}

nav {
  flex: 0 0 300px;
  height: 45px;
  white-space: nowrap;
  display: flex;
  align-content: end;
  align-items: end;
  justify-content: space-between;
}

nav a {
  flex: 1;
  display: block;
  margin:  25px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

#nav {
 margin: 13px 0 0 0;
 display: inherit;
  align-content: end;
  align-items: end;
  justify-content: space-around;
}

#nav ul li {
 display: inline;
 margin: 0 20px 0 0;
 margin-bottom: 130px;
}
 
#nav a {
 text-decoration: none;
 color: dimgray;
    font-size: medium;
}
 
#nav a:hover {
 color: mediumslateblue;
}



ul.indent {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -2em;
  padding-left: 3em;
   margin-bottom: -0.1em;
}

ul.noindent {
    list-style-type: disc;
    margin-top: 0rem; 
    list-style-position: outside;
    text-indent: 0em;
     padding-left: 1em;
}

.light-mode{
  background-color: rgba(0, 0, 0, 0);
  border-block-end-color: rgb(64, 64, 64);
  border-block-start-color: rgb(64, 64, 64);
  border-bottom-color: rgb(64, 64, 64) !important;
  border-inline-end-color: rgb(64, 64, 64);
  border-inline-start-color: rgb(64, 64, 64);
  border-left-color: rgb(64, 64, 64);
  border-right-color: rgb(64, 64, 64);
  border-top-color: rgb(64, 64, 64);
  caret-color: rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  outline-color: rgb(64, 64, 64);
  scrollbar-color: auto;
  text-decoration: rgb(64, 64, 64);
  text-decoration-color: rgb(64, 64, 64);
  text-emphasis-color: rgb(64, 64, 64);
}
.dark-mode{
  background-color: rgb(24, 26, 27);
  border-block-end-color: rgb(115, 107, 94);
  border-block-start-color: rgb(115, 107, 94);
  border-bottom-color: rgb(115, 107, 94) !important;
  border-inline-end-color: rgb(115, 107, 94);
  border-inline-start-color: rgb(115, 107, 94);
  border-left-color: rgb(115, 107, 94);
  border-right-color: rgb(115, 107, 94);
  border-top-color: rgb(115, 107, 94);
  caret-color: rgb(192, 186, 178);
  color: rgb(192, 186, 178);
  column-rule-color: rgb(192, 186, 178);
  outline-color: rgb(192, 186, 178);
  scrollbar-color: rgb(69, 74, 77) rgb(32, 35, 36);
  text-decoration: rgb(192, 186, 178);
  text-decoration-color: rgb(192, 186, 178);
  text-emphasis-color: rgb(192, 186, 178);
}
.hide {
    display:none !important;
}
.show {
    display:block !important;
}
